.projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.projects .centralContent {
    margin-top: 50px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 1000px;
    height: 80vh;
}

.projectImage {
    width: 500px;
}

.slider {
    width: 900px;
}

.sliderResponsive {
    display: none;
}

.slick-next:before, .slick-prev:before {
    color: #9999a1 !important;
}

.sliderItem {
    display: flex !important;
    justify-content: center;
}

.infoArea {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    font-size: 90%;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    min-height: 3.75em;
    outline: none;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   .button:disabled {
    pointer-events: none;
   }
   
   .button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   .button:active {
    box-shadow: none;
    transform: translateY(0);
   }

   
  @media only screen and (min-width: 768px) and (max-width: 1024px) {

    .slick-next:before, .slick-prev:before {
        visibility: hidden !important;
    }

    .projects .centralContent {
        width: 95vw;
    }

    .projectImage {
        width: 40%;
    }

    .info {
        width: 300px;
        font-size: 12px;
    }

  }

   @media only screen and (max-width: 768px) {

    .slick-next:before, .slick-prev:before {
        visibility: hidden !important;
    }

    .projects .centralContent {
        width: 95vw;
    }

    .sliderItem {
        flex-direction: column;
        align-items: center;
    }

    .slider {
        display: none;
    }

    .sliderResponsive {
        width: 95vw;
        display: block;
    }

    .infoArea {
        padding: 10px;
        width: 90vw;
        border-radius: 10px;
        background-color: #dfdfdf;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        display: flex;
    }

    .info {
        font-size: 55%;
    }

    .projectImage {
        width: 40%;
    }


    .button {

    }
    
   }
