/*//////////Home//////////*/



@keyframes infiniteArrow {
    100%{
        transform: translateY(0);
    }
}

.banner {
    background-image: url(/src/assets/images/Banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.type {
    margin-top: 10px;
    font-size: 55px;
}



/*//////////Social Media//////////*/



.iconsArea {
    position: absolute;
    top: 70%;
    left: 2%;
}

.flexIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.icons {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.150);
    transition: all 0.5s ease;
    cursor: pointer;
}

.icons:hover {
    background-color: white;
}

.icon {
    width: 22px;
}



/*//////////Scroll Info//////////*/



.scrollArea {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.scroll {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: white;
    overflow: hidden;
}
    
.animation {
    display: flex;
    transform: translateY(-100%);
    animation: infiniteArrow 1s infinite cubic-bezier(0.3, 0.74, 0, 1.02);
}

.animatedArrow {
    position: absolute;
    top: 100%;
}


@media only screen and (max-width: 768px) {

    .banner h1 {
        font-size: 1em;
    }

    .flexIcons {
        gap: 0.3em;
    }
}