.aboutMe {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centralContent {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 1000px;
    height: 400px;
}

.centralContent h1 {
    margin-top: 10px;
    font-size: 120px;
    color: #0000001a;
}

.aboutMeContent {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    width: 750px;
}

.languages {
    position: relative;
    right: 0%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfdfdf;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 700px;
    height: 100px;
    gap: 20px;
}

.languageIcon {
    width: 60px;
    height: 60px;
}

.languageArea{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.languageArea .tool {
    padding: 5px 20px;
    border-radius: 40px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    top: 0;
    transform: translateY(-20%);
    transition: all 0.3s ease;
}

.languageArea:hover .tool {
    top: -13%;
    opacity: 1;
    visibility: visible;
}

.svgIconReact:hover g {
    fill: #61DAFB;
}

.svgIconHTML path {
    transition: fill 0.5s ease;
}

.svgIconHTML:hover path {
    transition: fill 0.5s ease;
    fill: #E44D26;
}

.svgIconCSS path {
    transition: fill 0.5s ease;
}

.svgIconCSS:hover path {
    transition: fill 0.5s ease;
    fill: #1572B6;
}

.svgIconJavascript path {
    transition: fill 0.5s ease;
}

.svgIconJavascript:hover path {
    transition: fill 0.5s ease;
    fill: #F0DB4F;
}

.svgIconTypescript path {
    transition: fill 0.5s ease;
}

.svgIconTypescript:hover path {
    transition: fill 0.5s ease;
    fill: #007acc;
}

.svgIconTailwind path {
    transition: fill 0.5s ease;
}

.svgIconTailwind:hover path {
    transition: fill 0.5s ease;
    fill: #38bdf8;
}

.svgIconSASS path {
    transition: fill 0.5s ease;
}

.svgIconSASS:hover path {
    transition: fill 0.5s ease;
    fill: #CB6699;
}

.svgIconSQL path {
    transition: fill 0.5s ease;
}

.svgIconSQL:hover path {
    transition: fill 0.5s ease;
    fill: #00618A;
}

.secondaryContent {
    margin-top: 80px;
}

.parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.parallax .scroller {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }

  .parallax span {
    display: block;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.5);
  }
  
